html {
    font-family: sans-serif;
}

h1 {
    margin-left: 620px;
}

.h-tumbochki-1 {
    margin-left: 56px;
}

.img-tumbochki-1 {
    margin-left: 48px;
}

.p-tumbochki-1 {
    margin-left: 52px;
}

.buy-tumbochki-1 {
    border: none;
    background-color: yellowgreen;
    margin-left: 86px;
}

.h-tumbochki-2 {
    margin-left: 1020px;
    margin-top: -270px;
}

.img-tumbochki-2 {
    margin-left: 1030px;
}

.p-tumbochki-2 {
    margin-left: 1000px;
}

.buy-tumbochki-2 {
    border: none;
    background-color: yellowgreen;
    margin-left: 1070px;
}